In [1]:
!git clone https://github.com/mjcolmenarezo/MLFinalProject.git
%cd MLFinalProject

import pandas as pd
import numpy as np
df = pd.read_csv("cleaned_computers_dataset.csv")
df.head()

Cloning into 'MLFinalProject'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 9 (delta 1), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (9/9), 1.13 MiB | 3.13 MiB/s, done.
Resolving deltas: 100% (1/1), done.
/content/MLFinalProject

,Product_Title,Price (€),Offers (#),Product_Type,Model_Series,Screen_Size_inches,Screen_Size_cm,Screen_Resolution,9,10,...,107,109,110,111,113,114,115,USB_Version,118,Resolution_Category
0,HP 15 (2020) W9243MC,150.0,1.0,Portátil multimedia,NaN,15.6,39.620,1080p,Unknown,Intel Core i5-1135G7,...,Laptop,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,16.0,Unknown,Full HD
1,Lenovo Legion 5 Pro 16 2024 82WM00FJSP,1649.0,1.0,Portátil gaming,Lenovo Legion,16.0,40.640,wqxga,300 cd/m²,AMD Ryzen 9 7945HX,...,Laptop,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,16.0,Unknown,Other
2,ASUS ROG Zephyrus G16 GU605 (2024) GU605MV-QR047,2099.0,1.0,Portátil gaming,ASUS Republic of Gamers,16.0,40.640,wqxga,500 cd/m²,Intel Core Ultra 9 185H,...,Laptop,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,16.0,Unknown,Other
3,Lenovo Legion Slim 5 16 2024,1599.0,1.0,Portátil gaming,Lenovo Legion,16.0,40.640,Unknown,350 cd/m²,Unknown,...,Laptop,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,16.0,Unknown,unknown
4,"Apple MacBook Air 13"" 2024 M3 MRXV3Y/A",1289.0,1.0,Portátil multimedia,Apple MacBook Air,13.6,34.544,retina,500 cd/m²,Apple M3,...,Laptop,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,16.0,Unknown,3K

In [2]:
df = pd.read_csv('db_computers_2025_raw.csv', header=None, encoding='utf-8-sig', low_memory=False)

In [3]:
df = df.drop(index=0).reset_index(drop=True)
df[0].value_counts(dropna=False)

0
4015.0    2
4014.0    2
4013.0    2
4012.0    2
4011.0    2
         ..
4.0       2
3.0       2
2.0       2
1.0       2
0.0       2
Name: count, Length: 4032, dtype: int64

In [4]:

df = df.drop(columns=[0])

In [5]:
df[1].value_counts(dropna=False).head(20)

1
Apple MacBook Air 13" 2024 M3\nStarlight MC8J4Y/A    2
Apple Mac Studio 2023\nMQH63FN/A                     2
Yashi SUZUKA 14\nYP1522                              2
LG UltraPC 16\n16UD70R-G.AX56B                       2
Acer Predator Triton Neo 16 PTN16-51                 2
Acer Extensa 15 EX215-55                             2
Lenovo ThinkCentre M70q G3\nGen 3 Tiny 11UD0004GE    2
Apple MacBook Air 13" 2020\nSilver (MGN93Y/A)        2
Acer Predator Orion 5000 PO5-650\nDG.E3AEG.002       2
Acer Predator Orion 5000 PO5-650\nDG.E3AEG.004       2
Realme Book Prime 14                                 2
HP Elite SFF 800 G9\n7B148EA                         1
Lenovo ThinkStation P3 Tiny\n30H0004XGE              1
HP Workstation Z2 G9 Tower\n865L2ET                  1
Lenovo ThinkStation P3 Tower\n30GS00C0GE             1
Lenovo Legion T5 26\n26IAB7 90SV008TES               1
HP Pro Mini 400 G9\n884H0EA                          1
Lenovo ThinkStation P2 Tower                         1
HP ProDesk 400 G9\n6A7G0EA                           1
Dell Precision 3660 MT                               1
Name: count, dtype: int64

In [6]:
# Clean newlines and extra spaces in product names
df[1] = df[1].str.replace('\n', ' ', regex=False).str.strip()

In [7]:
df = df.rename(columns={1: 'Product_Title'})

In [8]:
df[2].value_counts(dropna=False).head(20)

2
NaN           137
1.199,95 €     17
699,00 €       16
1.399,95 €     14
599,00 €       14
499,00 €       13
999,00 €       12
999,95 €       12
1.599,95 €     12
1.099,00 €     11
399,00 €       10
1.099,95 €     10
649,00 €        9
949,95 €        9
299,00 €        9
1.799,00 €      9
749,00 €        9
1.899,00 €      9
645,95 €        8
799,00 €        8
Name: count, dtype: int64

In [9]:
# Clean € and convert to float for column 2
df[2] = df[2].str.replace('€', '', regex=False)
df[2] = df[2].str.replace('.', '', regex=False)  # Remove thousand separator
df[2] = df[2].str.replace(',', '.', regex=False)  # Convert comma to dot for decimal
df[2] = df[2].str.strip()
df[2] = pd.to_numeric(df[2], errors='coerce')  # Convert to float

# Rename the column for clarity
df = df.rename(columns={2: 'Price (€)'})

# Show some stats
df['Price (€)'].describe()

count     4294.000000
mean      1617.605685
std       1346.794360
min         88.730000
25%        790.045000
50%       1290.000000
75%       1988.212500
max      20579.900000
Name: Price (€), dtype: float64

In [10]:
df[3].value_counts(dropna=False).head(30)

3
1 oferta:      4217
2 ofertas:     1094
3 ofertas:      467
4 ofertas:      279
5 ofertas:      169
12 ofertas:     148
NaN             137
7 ofertas:      128
8 ofertas:      126
9 ofertas:      124
6 ofertas:      123
11 ofertas:     123
10 ofertas:     113
13 ofertas:     105
14 ofertas:      88
15 ofertas:      68
16 ofertas:      55
18 ofertas:      50
19 ofertas:      40
17 ofertas:      36
20 ofertas:      27
21 ofertas:      23
22 ofertas:      20
23 ofertas:      20
26 ofertas:      15
27 ofertas:      14
42 ofertas:      11
31 ofertas:      11
24 ofertas:      10
37 ofertas:       9
Name: count, dtype: int64

In [11]:
# Clean and convert 'X ofertas' to integer
df[3] = df[3].str.extract(r'(\d+)')  # Extract only the numeric part
df[3] = pd.to_numeric(df[3], errors='coerce')  # Convert to numeric (NaN if error)

# Rename the column for clarity
df = df.rename(columns={3: 'Offers (#)'})

# Show some stats
df['Offers (#)'].describe()

count    7927.000000
mean        5.365964
std        13.710193
min         1.000000
25%         1.000000
50%         1.000000
75%         4.000000
max       451.000000
Name: Offers (#), dtype: float64

In [12]:
# Check the first 20 most frequent values in column 4
df[4].value_counts(dropna=False).head(20)

4
Portátil multimedia     1934
PC gaming               1791
Portátil profesional     808
Portátil gaming          778
Mini PC                  666
PC de oficina            619
NaN                      545
Workstation              276
Portátil convertible     267
PC multimedia            175
Chromebook                76
Barebone                  63
Thin Client               25
Ultrabook                 16
PC completo               12
Netbook                    7
Portátil 3D                3
Kit ampliación PC          3
Name: count, dtype: int64

In [13]:
df.columns

Index(['Product_Title',     'Price (€)',    'Offers (#)',               4,
                     5,               6,               7,               8,
                     9,              10,
       ...
                   126,             127,             128,             129,
                   130,             131,             132,             133,
                   134,             135],
      dtype='object', length=135)

In [14]:
# Clean newlines and extra spaces in Product_Title
df['Product_Title'] = df['Product_Title'].str.replace('\n', ' ', regex=False).str.strip()

In [15]:
# Clean whitespace in column 4
df[4] = df[4].astype(str).str.strip()

# Rename for clarity
df = df.rename(columns={4: 'Product_Type'})

# Check the most frequent values again
df['Product_Type'].value_counts(dropna=False).head(20)

Product_Type
Portátil multimedia     1934
PC gaming               1791
Portátil profesional     808
Portátil gaming          778
Mini PC                  666
PC de oficina            619
nan                      545
Workstation              276
Portátil convertible     267
PC multimedia            175
Chromebook                76
Barebone                  63
Thin Client               25
Ultrabook                 16
PC completo               12
Netbook                    7
Portátil 3D                3
Kit ampliación PC          3
Name: count, dtype: int64

In [16]:
# Preview the values in column 5
df[5].value_counts(dropna=False).head(20)

5
NaN                        2898
Lenovo ThinkPad             222
Lenovo ThinkCentre          213
ASUS Vivobook               198
Lenovo IdeaPad              163
Microsoft Surface           158
Apple MacBook Air           142
Lenovo ThinkStation         135
HP EliteBook                135
ASUS ExpertBook             133
Dell OptiPlex               126
Apple MacBook Pro           112
HP Elite                    112
Acer Aspire                 108
HP Pro                      106
ASUS Republic of Gamers      98
HP ZBook                     98
Dell Precision               96
HP Omen                      94
HP Z2                        94
Name: count, dtype: int64

In [17]:
# Clean column 5 and rename it for clarity
df[5] = df[5].astype(str).str.replace('\n', ' ', regex=False).str.strip()
df = df.rename(columns={5: 'Model_Series'})

# Check result
df['Model_Series'].value_counts(dropna=False).head(20)

Model_Series
nan                        2898
Lenovo ThinkPad             222
Lenovo ThinkCentre          213
ASUS Vivobook               198
Lenovo IdeaPad              163
Microsoft Surface           158
Apple MacBook Air           142
Lenovo ThinkStation         135
HP EliteBook                135
ASUS ExpertBook             133
Dell OptiPlex               126
Apple MacBook Pro           112
HP Elite                    112
Acer Aspire                 108
HP Pro                      106
ASUS Republic of Gamers      98
HP ZBook                     98
Dell Precision               96
HP Omen                      94
HP Z2                        94
Name: count, dtype: int64

In [18]:
# Preview the values in column 6
df[6].value_counts(dropna=False).head(20)

6
NaN               4043
15,6 pulgadas     1361
14 pulgadas        841
16 pulgadas        717
17,3 pulgadas      292
13,3 pulgadas      174
16,1 pulgadas       71
13,6 pulgadas       64
15,3 pulgadas       62
13,5 pulgadas       61
14,2 pulgadas       59
15 pulgadas         43
11,6 pulgadas       33
14,4 pulgadas       32
16,2 pulgadas       32
18 pulgadas         30
13,4 pulgadas       24
14,5 pulgadas       24
17 pulgadas         18
12,45 pulgadas      16
Name: count, dtype: int64

In [19]:
# Clean and convert screen size to float
df[6] = df[6].str.replace('pulgadas', '', regex=False)
df[6] = df[6].str.replace(',', '.', regex=False)
df[6] = df[6].str.strip()
df[6] = pd.to_numeric(df[6], errors='coerce')

# Rename column
df = df.rename(columns={6: 'Screen_Size_inches'})

# Show basic stats
df['Screen_Size_inches'].describe()

count    4021.000000
mean       15.191370
std         1.177738
min        10.100000
25%        14.000000
50%        15.600000
75%        16.000000
max        18.000000
Name: Screen_Size_inches, dtype: float64

In [20]:
df[7].value_counts(dropna=False).head(20)

7
NaN          4044
35,56 cm      841
39,624 cm     810
40,64 cm      717
39,62 cm      549
43,942 cm     255
33,782 cm     123
40,894 cm      65
34,544 cm      64
38,862 cm      62
34,29 cm       61
36,068 cm      57
33,78 cm       50
38,1 cm        43
43,94 cm       37
36,576 cm      32
45,72 cm       30
41,148 cm      29
36,83 cm       24
29,464 cm      24
Name: count, dtype: int64

In [21]:
# Clean and convert screen size in cm to float
df[7] = df[7].str.replace('cm', '', regex=False)   # Remove 'cm'
df[7] = df[7].str.replace(',', '.', regex=False)   # Convert comma to dot
df[7] = df[7].str.strip()                          # Strip extra spaces
df[7] = pd.to_numeric(df[7], errors='coerce')      # Convert to float (NaN if error)

# Rename for clarity
df = df.rename(columns={7: 'Screen_Size_cm'})

df['Screen_Size_cm'].describe()

count    4020.000000
mean       38.585218
std         2.991627
min        25.650000
25%        35.560000
50%        39.620000
75%        40.640000
max        45.720000
Name: Screen_Size_cm, dtype: float64

In [22]:
df[8].value_counts(dropna=False).head(30)

8
NaN         5058
Full HD     1545
WUXGA        513
WQXGA        247
Retina       213
2.8K         102
QHD           71
QHD+          63
HD Ready      46
3K            37
WQXGA+        34
WQUXGA        28
3,2K          19
FHD+          19
HD+           15
UHD+          13
2K            12
WUXGA+         9
2,2K           6
2.5K           5
WQHD           3
WXGA+          2
4K             2
Ultra HD       1
WXGA           1
Name: count, dtype: int64

In [23]:
# Clean up lowercase, strip spaces
df[8] = df[8].str.lower().str.strip()

# Standardize similar resolution names
df[8] = df[8].replace({
    'full hd': '1080p',
    'fhd+': '1080p',
    'hd+': '720p',
    'hd ready': '720p',
    'uhd': '4k',
    'ultra hd': '4k',
    'retina': 'retina',
    '2k': '1440p',
    '2.2k': '1440p',
    '2,2k': '1440p',
    '2.5k': '1440p',
    '3k': '3k',
    '3,2k': '3k',
    '4k': '4k',
    '5k': '5k'
})

# Rename the column for clarity
df = df.rename(columns={8: 'Screen_Resolution'})

# preview the result
df['Screen_Resolution'].value_counts(dropna=False).head(20)

Screen_Resolution
NaN       5058
1080p     1564
wuxga      513
wqxga      247
retina     213
2.8k       102
qhd         71
qhd+        63
720p        61
3k          56
wqxga+      34
wquxga      28
1440p       23
uhd+        13
wuxga+       9
4k           3
wqhd         3
wxga+        2
wxga         1
Name: count, dtype: int64

In [24]:
# Group resolutions into general categories
def categorize_resolution(res):
    if pd.isna(res):
        return 'unknown'
    elif res in ['720p']:
        return 'HD'
    elif res in ['1080p']:
        return 'Full HD'
    elif res in ['1440p', 'qhd', 'qhd+', '2.2k', '2.5k', '2.8k']:
        return 'QHD'
    elif res in ['3k', 'retina']:
        return '3K'
    elif res in ['4k', 'uhd', 'uhd+']:
        return '4K'
    elif res in ['5k']:
        return '5K'
    else:
        return 'Other'

df['Resolution_Category'] = df['Screen_Resolution'].apply(categorize_resolution)

# check result
df['Resolution_Category'].value_counts(dropna=False)

Resolution_Category
unknown    5058
Full HD    1564
Other       837
3K          269
QHD         259
HD           61
4K           16
Name: count, dtype: int64

In [25]:
unnamed_cols = [col for col in df.columns if isinstance(col, int)]
print(f"Unnamed columns: {unnamed_cols}")

Unnamed columns: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135]

In [26]:
for col in unnamed_cols:
    print(f"\nColumn {col}:")
    print(df[col].value_counts(dropna=False).head(10))

Column 9:
9
NaN            5593
250 cd/m²       817
400 cd/m²       562
300 cd/m²       423
500 cd/m²       334
1.000 cd/m²     114
350 cd/m²        75
600 cd/m²        62
320 cd/m²        16
220 cd/m²        15
Name: count, dtype: int64

Column 10:
10
NaN                        1113
Intel Core Ultra 7 155H     192
Intel Core i5-1235U         165
Intel Core i5-1335U         141
Intel Core i7-1355U         134
Intel Core i5-10400         133
AMD Ryzen 5 4500            120
Intel Core i7-11700F        120
Intel Core i7-13700F        105
Intel Core i7-13700         105
Name: count, dtype: int64

Column 11:
11
SSD                    2124
NaN                    2099
disco duro SSD         1977
disco duro M.2 SSD     1390
PCIe SSD                296
memoria flash           117
disco duro HDD           28
sin disco duro           27
SATA                      4
disco híbrido (HHD)       1
Name: count, dtype: int64

Column 12:
12
NaN                 5078
HDMI                1643
HDMI 2.1             469
Thunderbolt 4        363
DisplayPort          198
HDMI 2.0             140
HDMI 1.4              49
Thunderbolt 3         38
Mini-DisplayPort      24
VGA                   23
Name: count, dtype: int64

Column 13:
13
NaN                    7656
6K (6016 x 3384)        169
8K (8192 x 4608)        162
4K (4096 x 2304)         65
5K (5120 x 2880)          6
WQXGA (2560 x 1600)       5
UHD (3840 x 2160)         1
Name: count, dtype: int64

Column 14:
14
NaN          6041
integrado    1393
ninguno       317
4 en 1        162
3 en 1        128
2 en 1         20
5 en 1          3
Name: count, dtype: int64

Column 15:
15
wifi, Bluetooth              2133
wifi                         1103
Ethernet                      910
LAN, wifi, Bluetooth          675
wifi, Bluetooth, LAN          675
Ethernet, wifi, Bluetooth     598
Bluetooth, wifi               527
NaN                           359
wifi, Bluetooth, Ethernet     267
wifi, Ethernet, Bluetooth     218
Name: count, dtype: int64

Column 16:
16
NaN              3116
Bluetooth 5.3    1435
Bluetooth 5.2    1167
Bluetooth 5.0     941
Bluetooth 5.1     777
Bluetooth 4.2     261
Bluetooth 5.4     243
Bluetooth 4.0      79
Bluetooth 4.1      45
Name: count, dtype: int64

Column 17:
17
NaN               4209
integrada         3142
5.0 Mpx            307
0.9 Mpx            137
2.0 Mpx             75
12.0 Megapixel      40
0.3 Mpx             38
1.0 Mpx             31
0.8 Mpx             24
0.7 Mpx             11
Name: count, dtype: int64

Column 18:
18
NaN                  5482
compatible con HD    2560
30 fps                 22
Name: count, dtype: int64

Column 19:
19
NaN                    5270
1280 x 720 píxeles     1453
1920 x 1080 píxeles    1296
720 x 480 píxeles        16
640 x 480 píxeles        10
2560 x 1440 píxeles      10
2592 x 1944 píxeles       7
480 x 640 píxeles         2
Name: count, dtype: int64

Column 20:
20
NaN                    7617
teclado tipo chicle     322
teclado gamer            96
teclado FineTip          26
teclado AccuType          3
Name: count, dtype: int64

Column 21:
21
NaN           7772
79 teclas      233
65 teclas       13
66 teclas        8
98 teclas        8
99 teclas        8
80 teclas        5
107 teclas       5
84 teclas        4
102 teclas       3
Name: count, dtype: int64

Column 22:
22
NaN                                                                       7554
teclado numérico                                                           259
teclas de función, teclas de dirección                                     147
teclas Windows                                                              33
teclas de dirección                                                         13
teclas de función                                                           10
teclas de función, teclas Windows                                            7
teclas multimedia, teclas Windows, teclas de función, teclado numérico       7
teclas de función, teclas Windows, teclas multimedia, teclado numérico       7
teclas de función, teclas Windows, teclado numérico                          3
Name: count, dtype: int64

Column 23:
23
NaN    5126
2.0    2421
4.0     336
6.0     178
8.0       3
Name: count, dtype: int64

Column 24:
24
NaN                  5377
ión-litio            1438
polímero de litio    1249
Name: count, dtype: int64

Column 25:
25
NaN      6333
15 h      211
10 h      170
7,5 h      95
8 h        94
8,4 h      73
12 h       73
5,5 h      72
9 h        72
13 h       68
Name: count, dtype: int64

Column 26:
26
NaN      4398
41 Wh     315
90 Wh     243
42 Wh     203
70 Wh     171
57 Wh     157
54 Wh     141
56 Wh     130
83 Wh     120
38 Wh     120
Name: count, dtype: int64

Column 27:
27
NaN      5079
65 W     1100
45 W      509
240 W     153
200 W     131
230 W     107
330 W      95
100 W      92
30 W       83
150 W      80
Name: count, dtype: int64

Column 28:
28
NaN    7695
no      358
sí       11
Name: count, dtype: int64

Column 29:
29
NaN              7364
aluminio          654
plástico           29
magnesio           12
policarbonato       4
carbono             1
Name: count, dtype: int64

Column 30:
30
NaN            4194
con tapa       3639
convertible     231
Name: count, dtype: int64

Column 31:
31
NaN        1737
23,6 cm     231
24,2 cm     214
25,9 cm     179
30,8 cm     174
21,5 cm     144
11,2 cm     131
25,1 cm     125
17,5 cm     124
22,3 cm     113
Name: count, dtype: int64

Column 32:
32
NaN      4112
20 mm     787
18 mm     495
19 mm     445
17 mm     388
16 mm     324
23 mm     203
15 mm     196
25 mm     156
21 mm     145
Name: count, dtype: int64

Column 33:
33
NaN        1732
35,9 cm     623
35,8 cm     251
35,6 cm     248
36 cm       231
15,5 cm     168
31,3 cm     151
36,3 cm     139
11,7 cm     127
35,7 cm     121
Name: count, dtype: int64

Column 34:
34
NaN        3061
1,7 kg      230
1,6 kg      220
1,5 kg      152
1,4 kg      143
1,3 kg      119
1,69 kg     106
2,1 kg      103
1,8 kg      100
1,9 kg       98
Name: count, dtype: int64

Column 35:
35
disco duro SSD                                                                                                 2259
NaN                                                                                                            1340
USB-C, altavoces estéreo, webcam                                                                                673
webcam, altavoces estéreo, USB-C                                                                                488
USB-C, altavoces estéreo, webcam, lector de tarjetas                                                            462
USB-C, altavoces estéreo, lector de tarjetas, webcam                                                            405
lector de tarjetas, webcam, altavoces estéreo, USB-C                                                            364
lector de tarjetas, webcam, USB-C                                                                               203
USB-C, webcam                                                                                                   145
micrófono integrado, USB-C, Touchpad multitáctil, altavoces estéreo, Touch ID, webcam, Force Touch Trackpad     124
Name: count, dtype: int64

Column 36:
36
NaN                                                                                                                          7427
lector de huellas digitales                                                                                                   253
bloqueo Kensington                                                                                                             79
Trusted Platform Module (TPM 1.2)                                                                                              39
bloqueo Kensington, Trusted Platform Module (TPM 2.0)                                                                          34
tapa webcam                                                                                                                    19
lector de huellas digitales, tapa webcam, Trusted Platform Module (TPM 2.0)                                                    16
lector de huellas digitales, Trusted Platform Module (TPM 2.0), tapa webcam                                                    16
bloqueo Kensington, lector de huellas digitales, reconocimiento de rostro, tapa webcam, Trusted Platform Module (TPM 2.0)      14
bloqueo Kensington, Trusted Platform Module (TPM 1.2)                                                                          11
Name: count, dtype: int64

Column 37:
37
NaN                             7768
sensor de luminosidad            273
sensor de huellas dactilares      17
acelerómetro                       6
Name: count, dtype: int64

Column 38:
38
NaN       4283
2023.0    1363
2024.0    1164
2022.0     564
2021.0     277
2020.0     219
2019.0     140
2018.0      19
2015.0       9
2017.0       9
Name: count, dtype: int64

Column 39:
39
NaN              4170
IEEE 802.11ax    3004
IEEE 802.11ac     488
IEEE 802.11be     241
Wi-Fi 6E          127
IEEE 802.11b       14
IEEE 802.11a       10
IEEE 802.11g        6
IEEE 802.11n        4
Name: count, dtype: int64

Column 40:
40
NaN                      4729
1.920 x 1.080 píxeles    1604
1.920 x 1.200 píxeles     537
2.560 x 1.600 píxeles     347
2.880 x 1.800 píxeles     168
2.560 x 1.440 píxeles      78
2.560 x 1.664 píxeles      60
1.366 x 768 píxeles        55
2.880 x 1.864 píxeles      54
1.600 x 900 píxeles        50
Name: count, dtype: int64

Column 41:
41
NaN          7802
224 ppp        76
254 ppp        64
201 ppp        27
141 ppp        17
148 ppp        11
227 ppp         9
254,4 ppp       9
157 ppp         8
224,2 ppp       6
Name: count, dtype: int64

Column 42:
42
NaN       6918
60 Hz      406
120 Hz     254
144 Hz     231
240 Hz     125
165 Hz      99
90 Hz       24
300 Hz       4
360 Hz       3
Name: count, dtype: int64

Column 43:
43
Intel       5280
AMD         1392
NaN         1100
Apple        227
Qualcomm      64
MediaTek       1
Name: count, dtype: int64

Column 44:
44
NaN                   1467
Core i5                947
Core i7                833
Intel Core i7          807
Intel Core i5          684
Core i9                356
Ryzen 5                327
Intel Core Ultra 7     297
Ryzen 7                295
AMD Ryzen 7            206
Name: count, dtype: int64

Column 45:
45
1.0    5283
NaN    2466
0.0     190
2.0     124
3.0       1
Name: count, dtype: int64

Column 46:
46
NaN         4921
Intel       1565
NVIDIA       976
AMD          360
Apple        191
Qualcomm      49
ARM            2
Name: count, dtype: int64

Column 47:
47
memoria compartida    3731
NaN                   1741
8192 MB                679
12288 MB               412
8.192 MB / 8 GB        400
16384 MB               193
6.144 MB / 6 GB        133
4096 MB                124
4.096 MB / 4 GB        115
8.192 MB               103
Name: count, dtype: int64

Column 48:
48
NaN                                  2190
Windows 11 Home                      1212
Microsoft Windows 11 Professional    1182
Windows 11 Professional              1043
ninguno                               398
Microsoft Windows 11 Home             389
Free DOS                              272
sin sistema operativo                 265
Microsoft Windows 10 Professional     200
Windows 10 Professional               185
Name: count, dtype: int64

Column 49:
49
NaN          6755
MicroSD       841
SD            366
SDXC           90
MicroSDXC       9
MiniSD          3
Name: count, dtype: int64

Column 50:
50
NaN                    5980
altavoces estéreo      1733
Dolby Atmos             109
SonicMaster              89
Harman Kardon            66
Dolby Audio Premium      54
Dynaudio                 15
THX Spatial Audio         7
Bang & Olufsen            4
DTS X                     3
Name: count, dtype: int64

Column 51:
51
NaN      4318
16:9     2106
16:10    1444
3:2       195
4:3         1
Name: count, dtype: int64

Column 52:
52
NaN                    2453
Raptor Lake             866
Alder Lake-P            536
Alder Lake              529
Meteor Lake             462
Raptor Lake-U           309
Raptor Lake-H           274
Rocket Lake-S           220
Raptor Lake Refresh     207
Tiger Lake UP3          197
Name: count, dtype: int64

Column 53:
53
NaN    4936
L3     3102
L2       26
Name: count, dtype: int64

Column 54:
54
NaN      1912
12 MB    1283
24 MB     883
16 MB     643
18 MB     443
8 MB      440
30 MB     407
4 MB      326
36 MB     318
32 MB     232
Name: count, dtype: int64

Column 55:
55
16 GB RAM    1644
16 GB        1487
NaN          1315
32 GB        1150
8 GB RAM      800
32 GB RAM     626
8 GB          589
64 GB         136
4 GB RAM       83
4 GB           60
Name: count, dtype: int64

Column 56:
56
DDR4       3288
NaN        2278
DDR5       1653
LPDDR5      368
LPDDR5X     277
LPDDR4X     125
LPDDR4       25
DDR3         24
DDR3L        13
LPDDR3        7
Name: count, dtype: int64

Column 57:
57
NaN          5188
3.200 MHz    1204
4.800 MHz     524
5.600 MHz     373
2.666 MHz     144
5.200 MHz     138
6.400 MHz      91
2.400 MHz      54
4.266 MHz      42
4.400 MHz      42
Name: count, dtype: int64

Column 58:
58
1.000 GB    2480
512 GB      2368
NaN         1408
256 GB       819
2.000 GB     471
500 GB       139
128 GB       112
480 GB       103
64 GB         43
32 GB         32
Name: count, dtype: int64

Column 59:
59
NaN                          6880
teclado iluminado            1129
resistente a salpicaduras      55
Name: count, dtype: int64

Column 60:
60
NaN                7094
2 x 2 W             678
2 x 1,5 W           134
4 x 2 W              49
2 x 5 + 2 x 2 W      28
2 x 4 W              24
2 x 1 W              20
2 x 2,5 W            15
2 x 2 + 4 x 2 W       8
2 x 5 W               6
Name: count, dtype: int64

Column 61:
61
NaN    5385
3.0    1321
4.0     865
6.0     240
2.0     238
8.0      15
Name: count, dtype: int64

Column 62:
62
NaN         4883
negro       1284
gris         895
plateado     730
azul         191
blanco        41
dorado        30
verde          5
bronce         2
rojo           2
Name: count, dtype: int64

Column 63:
63
NaN    8054
sí        9
no        1
Name: count, dtype: int64

Column 64:
64
NaN           1563
6 núcleos      813
10.0           753
8 núcleos      589
8.0            561
4 núcleos      397
16.0           366
4.0            355
16 núcleos     337
12.0           330
Name: count, dtype: int64

Column 65:
65
NaN          2599
2.500 MHz     543
0,9 GHz       383
2.100 MHz     327
1,8 GHz       322
1,2 GHz       296
3,8 GHz       287
3.600 MHz     281
1,5 GHz       183
2.900 MHz     168
Name: count, dtype: int64

Column 66:
66
NaN        1911
4,4 GHz     672
5 GHz       666
4,6 GHz     549
4,8 GHz     484
4,7 GHz     379
4,3 GHz     337
5,2 GHz     336
4,9 GHz     335
4,5 GHz     328
Name: count, dtype: int64

Column 67:
67
NaN     5106
15 W    1162
45 W     637
28 W     448
55 W     301
25 W      85
6 W       66
9 W       53
35 W      52
34 W      48
Name: count, dtype: int64

Column 68:
68
NaN       6060
GDDR6     1717
GDDR6X     222
GDDR5       59
DDR3         4
GDDR3        1
GDDR5X       1
Name: count, dtype: int64

Column 69:
69
NaN       4561
64 Bit    2498
64-Bit    1004
32 Bit       1
Name: count, dtype: int64

Column 70:
70
NaN       7894
0,2 ms      80
3 ms        75
7 ms        11
5 ms         2
1 ms         2
Name: count, dtype: int64

Column 71:
71
NaN       6088
64 GB      900
32 GB      313
16 GB      274
128 GB     245
96 GB       79
8 GB        46
12 GB       32
40 GB       27
48 GB       26
Name: count, dtype: int64

Column 72:
72
NaN                           1352
Intel Iris Xe Graphics         916
Intel UHD Graphics             715
NVIDIA GeForce RTX 4060        487
AMD Radeon Graphics            391
Intel UHD Graphics 770         374
NVIDIA GeForce RTX 4070        358
Intel Arc Graphics             270
Intel UHD Graphics 730         202
NVIDIA GeForce RTX 4060 Ti     191
Name: count, dtype: int64

Column 73:
73
NaN                    6679
ninguna                1316
LTE, 4G                  48
5G                        5
LTE, 4G, 5G               4
4G, LTE                   3
LTE, 4G, GPS              3
EDGE, 2G                  2
LTE                       1
compatible con WWAN       1
Name: count, dtype: int64

Column 74:
74
NaN               4037
ninguno           3762
grabadora DVD      259
lector DVD           5
lector Blu-ray       1
Name: count, dtype: int64

Column 75:
75
NaN                           7571
20 V                           294
19 V                           128
19,5 V                          28
7,6 V                           12
220 V                           10
15,4 V                           7
5 V, 9 V, 12 V, 15 V, 20 V       3
11,4 V                           3
11,25 V                          3
Name: count, dtype: int64

Column 76:
76
NaN       7647
3,25 A     160
3,42 A      75
12 A        36
4,5 A       24
2,37 A      24
10 A        21
9,23 A      10
9 A         10
16,5 A       9
Name: count, dtype: int64

Column 77:
77
NaN                                     7092
teclado numérico                         939
Touchpad iluminado                        31
Touchpad iluminado, teclado numérico       1
2 discos duros                             1
Name: count, dtype: int64

Column 78:
78
NaN                     7196
panorámica               525
IPS                      136
táctil                    76
OLED                      67
antirreflectante          23
retroiluminación LED      16
brillante                 10
mate                       6
Mini-LED                   4
Name: count, dtype: int64

Column 79:
79
NaN                                4673
Ethernet 10/100/1000               1722
Gigabit-LAN                        1179
LAN 10/100/1000/2500                313
2,5-Gbit/s-Ethernet                 142
LAN 10/100/1000/2500/5000/10000      30
100-Mbit/s-LAN                        5
Name: count, dtype: int64

Column 80:
80
NaN         7978
DTS           45
HD Audio      23
DTS-HD        15
5.1            3
Name: count, dtype: int64

Column 81:
81
NaN          7938
3220 mAh       22
4100 mAh       19
5000 mAh       18
9360 mAh       13
4000 mAh        6
6182 mAh        6
4800 mAh        5
10336 mAh       5
4670 mAh        3
Name: count, dtype: int64

Column 82:
82
NaN                           7986
Certificación MIL-STD 810H      55
Certificación MIL-STD 810G      11
Energy Star 5.0                  6
Energy Star                      5
MIL-STD 810H                     1
Name: count, dtype: int64

Column 83:
83
NaN                   7951
Microsoft Copilot       60
Apple Intelligence      19
Lenovo AI Engine+       12
Nexus AI                 8
Google Gemini            7
Asus AI                  4
MSI AI Engine            2
MSI AI Artist            1
Name: count, dtype: int64

Column 84:
84
NaN           7142
2x SO-DIMM     618
1x SO-DIMM     195
0x SO-DIMM     100
4x SO-DIMM       9
Name: count, dtype: int64

Column 85:
85
NaN           7355
2x SO-DIMM     418
1x SO-DIMM     229
0x SO-DIMM      59
4x SO-DIMM       3
Name: count, dtype: int64

Column 86:
86
NaN                 7174
2 x 8 GB             282
2 x 16 GB            197
1 x 8 GB             164
1 x 16 GB            108
2 x 4 GB              46
1 x 32 GB             25
1 x 4 GB              21
2 x 32 GB             18
1 x 8 + 1 x 8 GB      14
Name: count, dtype: int64

Column 87:
87
NaN                    8048
Intel HM770              13
Intel HM570 Express       3
Name: count, dtype: int64

Column 88:
88
NaN                                                                                                                                                                                                                                                                                                                                                                             7977

In [27]:
# Clean and convert column 130 (e.g., '500 GB') to numeric
df[130] = df[130].astype(str).str.replace('GB', '', regex=False).str.strip()
df[130] = pd.to_numeric(df[130], errors='coerce')  # Convert to float, NaN if invalid

# Rename for clarity
df = df.rename(columns={130: 'Disk_Size_GB'})

# check result
df['Disk_Size_GB'].describe()

count     29.000000
mean     422.482759
std      166.652466
min       16.000000
25%      500.000000
50%      500.000000
75%      512.000000
max      512.000000
Name: Disk_Size_GB, dtype: float64

In [28]:
# Convert column 131 to float (already mostly numeric)
df[131] = pd.to_numeric(df[131], errors='coerce')

# Rename for clarity
df = df.rename(columns={131: 'USB_Version'})

# check result
df['USB_Version'].describe()

count    17.000000
mean      1.176471
std       0.392953
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       2.000000
Name: USB_Version, dtype: float64

In [29]:
# Rename for clarity
df = df.rename(columns={132: 'Motherboard_Model'})

# preview most common values
df['Motherboard_Model'].value_counts(dropna=False).head(10)

Motherboard_Model
NaN                             8036
MSI H510M-A PRO                    5
MSI A520M-A Pro                    5
Intel W580                         3
Gigabyte Z790 Aorus Elite AX       3
Gigabyte GA-A520M-S2H              3
D3923-A1                           2
Gigabyte GA-H410M H V3             1
Intel H310M-STX                    1
MSI B660M-B PRO DDR4               1
Name: count, dtype: int64

In [30]:
# Convert 'sí' to True, keep NaN as is
df[133] = df[133].apply(lambda x: True if str(x).strip().lower() == 'sí' else (False if pd.notna(x) else np.nan))

# Rename the column
df = df.rename(columns={133: 'Has_Something'})  # You can change this name later

# check the result
df['Has_Something'].value_counts(dropna=False)

Has_Something
NaN     8057
True       7
Name: count, dtype: int64

In [31]:
# Rename column 134 to something more meaningful
df = df.rename(columns={134: 'Preinstalled_Software'})

# preview common values
df['Preinstalled_Software'].value_counts(dropna=False).head(10)

Preinstalled_Software
NaN                                                                                                                                                                8058
HP Support Assistant                                                                                                                                                  2
HP ePrint Driver, HP Recovery Manager, HP Support Assistant                                                                                                           1
Microsoft Office                                                                                                                                                      1
Cyberlink PowerDVD                                                                                                                                                    1
HP ePrint Driver, HP PageLift, HP Recovery Disk Creator, HP QuickStart, Evernote, Skype, HP Recovery Manager, Cyberlink PowerDVD, Microsoft Security Essentials       1
Name: count, dtype: int64

In [32]:
# Rename column 135 to something clearer
df = df.rename(columns={135: 'Processor_Summary'})

# check values
df['Processor_Summary'].value_counts(dropna=False).head(10)

Processor_Summary
NaN                                            8058
Intel Core i3, Intel Core i5, Intel Core i7       2
Intel Core i5, Intel Core i7                      2
Intel Xeon W Family                               1
Intel Atom                                        1
Name: count, dtype: int64

In [33]:
# Drop columns with more than 95% missing values
threshold = 0.95
df = df.dropna(axis=1, thresh=int((1 - threshold) * len(df)))

In [34]:
# Define essential columns and drop rows missing those
essential_columns = ['Product_Title', 'Price (€)']
df = df.dropna(subset=essential_columns)

In [35]:
# Reset index to keep things tidy
df = df.reset_index(drop=True)

In [36]:
# Save the cleaned dataframe to a new CSV
df.to_csv("db_computers_2025_cleaned.csv", index=False)

In [37]:
df['Product_Type'] = df['Product_Type'].fillna('Unknown')
df['Model_Series'] = df['Model_Series'].fillna('Unknown')

In [38]:
df['Screen_Size_inches'] = df['Screen_Size_inches'].fillna(df['Screen_Size_inches'].median())
df['Screen_Size_cm'] = df['Screen_Size_cm'].fillna(df['Screen_Size_cm'].median())

In [39]:
df['Screen_Resolution'] = df['Screen_Resolution'].fillna('Unknown')
df['Resolution_Category'] = df['Resolution_Category'].fillna('Unknown')

In [40]:
print(df.columns)

Index([      'Product_Title',           'Price (€)',          'Offers (#)',
              'Product_Type',        'Model_Series',  'Screen_Size_inches',
            'Screen_Size_cm',   'Screen_Resolution',                     9,
                          10,                    11,                    12,
                          13,                    14,                    15,
                          16,                    17,                    18,
                          19,                    20,                    22,
                          23,                    24,                    25,
                          26,                    27,                    29,
                          30,                    31,                    32,
                          33,                    34,                    35,
                          36,                    38,                    39,
                          40,                    42,                    43,
                          44,                    45,                    46,
                          47,                    48,                    49,
                          50,                    51,                    52,
                          53,                    54,                    55,
                          56,                    57,                    58,
                          59,                    60,                    61,
                          62,                    64,                    65,
                          66,                    67,                    68,
                          69,                    71,                    72,
                          73,                    74,                    75,
                          76,                    77,                    78,
                          79,                    84,                    85,
                          86,                   107,                   109,
                         110,                   111,                   113,
                         114,                   115,                   116,
                         117,                   118,                   119,
                         120, 'Resolution_Category'],
      dtype='object')

In [41]:
df.rename(columns={130: 'Disk_Size_GB'}, inplace=True)

In [42]:
print('Disk_Size_GB' in df.columns)

False

In [43]:
df.rename(columns={130: 'Disk_Size_GB'}, inplace=True)

In [44]:
print('Disk_Size_GB' in df.columns)

False

In [45]:
print(130 in df.columns)
print(df.columns)

False
Index([      'Product_Title',           'Price (€)',          'Offers (#)',
              'Product_Type',        'Model_Series',  'Screen_Size_inches',
            'Screen_Size_cm',   'Screen_Resolution',                     9,
                          10,                    11,                    12,
                          13,                    14,                    15,
                          16,                    17,                    18,
                          19,                    20,                    22,
                          23,                    24,                    25,
                          26,                    27,                    29,
                          30,                    31,                    32,
                          33,                    34,                    35,
                          36,                    38,                    39,
                          40,                    42,                    43,
                          44,                    45,                    46,
                          47,                    48,                    49,
                          50,                    51,                    52,
                          53,                    54,                    55,
                          56,                    57,                    58,
                          59,                    60,                    61,
                          62,                    64,                    65,
                          66,                    67,                    68,
                          69,                    71,                    72,
                          73,                    74,                    75,
                          76,                    77,                    78,
                          79,                    84,                    85,
                          86,                   107,                   109,
                         110,                   111,                   113,
                         114,                   115,                   116,
                         117,                   118,                   119,
                         120, 'Resolution_Category'],
      dtype='object')

In [46]:
print(df.columns)

Index([      'Product_Title',           'Price (€)',          'Offers (#)',
              'Product_Type',        'Model_Series',  'Screen_Size_inches',
            'Screen_Size_cm',   'Screen_Resolution',                     9,
                          10,                    11,                    12,
                          13,                    14,                    15,
                          16,                    17,                    18,
                          19,                    20,                    22,
                          23,                    24,                    25,
                          26,                    27,                    29,
                          30,                    31,                    32,
                          33,                    34,                    35,
                          36,                    38,                    39,
                          40,                    42,                    43,
                          44,                    45,                    46,
                          47,                    48,                    49,
                          50,                    51,                    52,
                          53,                    54,                    55,
                          56,                    57,                    58,
                          59,                    60,                    61,
                          62,                    64,                    65,
                          66,                    67,                    68,
                          69,                    71,                    72,
                          73,                    74,                    75,
                          76,                    77,                    78,
                          79,                    84,                    85,
                          86,                   107,                   109,
                         110,                   111,                   113,
                         114,                   115,                   116,
                         117,                   118,                   119,
                         120, 'Resolution_Category'],
      dtype='object')

In [47]:
df['Screen_Size_cm'] = df['Screen_Size_cm'].fillna(df['Screen_Size_cm'].median())

In [48]:
df.rename(columns={131: 'USB_Version'}, inplace=True)

In [49]:
print('USB_Version' in df.columns)

False

In [50]:
print([col for col in df.columns if isinstance(col, int)])

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 84, 85, 86, 107, 109, 110, 111, 113, 114, 115, 116, 117, 118, 119, 120]

In [51]:
for i, col in enumerate(df.columns):
    print(i, col)

0 Product_Title
1 Price (€)
2 Offers (#)
3 Product_Type
4 Model_Series
5 Screen_Size_inches
6 Screen_Size_cm
7 Screen_Resolution
8 9
9 10
10 11
11 12
12 13
13 14
14 15
15 16
16 17
17 18
18 19
19 20
20 22
21 23
22 24
23 25
24 26
25 27
26 29
27 30
28 31
29 32
30 33
31 34
32 35
33 36
34 38
35 39
36 40
37 42
38 43
39 44
40 45
41 46
42 47
43 48
44 49
45 50
46 51
47 52
48 53
49 54
50 55
51 56
52 57
53 58
54 59
55 60
56 61
57 62
58 64
59 65
60 66
61 67
62 68
63 69
64 71
65 72
66 73
67 74
68 75
69 76
70 77
71 78
72 79
73 84
74 85
75 86
76 107
77 109
78 110
79 111
80 113
81 114
82 115
83 116
84 117
85 118
86 119
87 120
88 Resolution_Category

In [52]:
df.columns = df.columns.map(str)

In [53]:
df.rename(columns={'130': 'Disk_Size_GB', '131': 'USB_Version'}, inplace=True)

In [54]:
for i, col in enumerate(df.columns):
    print(i, col)

0 Product_Title
1 Price (€)
2 Offers (#)
3 Product_Type
4 Model_Series
5 Screen_Size_inches
6 Screen_Size_cm
7 Screen_Resolution
8 9
9 10
10 11
11 12
12 13
13 14
14 15
15 16
16 17
17 18
18 19
19 20
20 22
21 23
22 24
23 25
24 26
25 27
26 29
27 30
28 31
29 32
30 33
31 34
32 35
33 36
34 38
35 39
36 40
37 42
38 43
39 44
40 45
41 46
42 47
43 48
44 49
45 50
46 51
47 52
48 53
49 54
50 55
51 56
52 57
53 58
54 59
55 60
56 61
57 62
58 64
59 65
60 66
61 67
62 68
63 69
64 71
65 72
66 73
67 74
68 75
69 76
70 77
71 78
72 79
73 84
74 85
75 86
76 107
77 109
78 110
79 111
80 113
81 114
82 115
83 116
84 117
85 118
86 119
87 120
88 Resolution_Category

In [55]:
# Get the actual column names
col_disk = df.columns[83]  # Should be '116'
col_usb = df.columns[84]   # Should be '117'

# Rename them to useful names
df.rename(columns={col_disk: 'Disk_Size_GB', col_usb: 'USB_Version'}, inplace=True)

# Convert to numeric (in case of strings or weird data)
df['Disk_Size_GB'] = pd.to_numeric(df['Disk_Size_GB'], errors='coerce')
df['USB_Version'] = pd.to_numeric(df['USB_Version'], errors='coerce')

# Fill missing values with median
df['Disk_Size_GB'] = df['Disk_Size_GB'].fillna(df['Disk_Size_GB'].median())
df['USB_Version'] = df['USB_Version'].fillna(df['USB_Version'].median())

In [56]:
print(df[['Disk_Size_GB', 'USB_Version']].isna().sum())
print(df[['Disk_Size_GB', 'USB_Version']].dtypes)

Disk_Size_GB    4294
USB_Version        0
dtype: int64
Disk_Size_GB    float64
USB_Version     float64
dtype: object

In [57]:
# Check a few columns around position 83 to find disk size
for i in range(80, 85):
    print(f"\nColumn {i} ({df.columns[i]}):")
    print(df[df.columns[i]].value_counts(dropna=False).head(10))

Column 80 (113):
113
NaN                                    2820
corriente alterna 120/230 V             522
650 W                                   127
750 W                                    75
850 W                                    55
550 W                                    49
180 W / corriente alterna 120/230 V      46
600 W                                    45
65 W / corriente alterna 120/230 V       38
90 W / corriente alterna 120/230 V       35
Name: count, dtype: int64

Column 81 (114):
114
NaN                                            2256
gaming                                         1419
empresas                                        475
bricolaje                                        61
principiante                                     15
empresas, gaming, principiante, profesional      13
principiante, profesional, empresas              12
empresas, profesional                             9
profesional                                       8
profesional, empresas                             6
Name: count, dtype: int64

Column 82 (115):
115
NaN        2306
2,5 GHz     332
3,6 GHz     272
2,1 GHz     252
3,4 GHz     183
3 GHz       138
2,9 GHz     114
2,2 GHz      91
3,2 GHz      66
3,7 GHz      65
Name: count, dtype: int64

Column 83 (Disk_Size_GB):
Disk_Size_GB
NaN    4294
Name: count, dtype: int64

Column 84 (USB_Version):
USB_Version
16.0    2650
12.0     578
24.0     282
20.0     206
4.0      180
32.0     158
8.0      109
28.0      98
2.0        9
6.0        9
Name: count, dtype: int64

In [58]:
# Loop through all remaining columns and show top values
for col in df.columns:
    print(f"\nColumn: {col}")
    print(df[col].value_counts(dropna=False).head(10))

Column: Product_Title
Product_Title
Acer Predator Orion 5000 PO5-650 DG.E3AEG.004      2
Acer Predator Orion 5000 PO5-650 DG.E3AEG.002      2
Yashi SUZUKA 14 YP1522                             2
Lenovo ThinkStation P360 Tiny 30FA004VGE           1
Dell OPTIPLEX 3080 SFF 92CVD                       1
HP Elite t655 Thin Client 5H0L0EA                  1
Sedatech UCCM721I2I1HF - Watercooling Gaming-PC    1
Captiva Advanced Gaming R79 R79-458                1
Captiva Highend Gaming R78 R78-291                 1
Dell OPTIPLEX 3080 MFF XHK61                       1
Name: count, dtype: int64

Column: Price (€)
Price (€)
1199.95    17
699.00     16
599.00     14
1399.95    14
499.00     13
999.95     12
1599.95    12
999.00     12
1099.00    11
1099.95    10
Name: count, dtype: int64

Column: Offers (#)
Offers (#)
1.0    4217
2.0      71
3.0       6
Name: count, dtype: int64

Column: Product_Type
Product_Type
PC gaming               1506
Portátil multimedia      804
Portátil gaming          382
Mini PC                  348
PC de oficina            326
Portátil profesional     286
nan                      186
Workstation              170
Portátil convertible     118
PC multimedia             93
Name: count, dtype: int64

Column: Model_Series
Model_Series
nan                        1961
Lenovo ThinkCentre           95
ASUS Vivobook                88
Lenovo IdeaPad               82
HP EliteBook                 77
Lenovo ThinkStation          75
Lenovo ThinkPad              74
Microsoft Surface            72
Dell OptiPlex                71
ASUS Republic of Gamers      66
Name: count, dtype: int64

Column: Screen_Size_inches
Screen_Size_inches
15.6    3191
14.0     346
16.0     312
17.3     141
13.3      66
16.1      37
13.5      30
14.4      23
18.0      20
13.4      15
Name: count, dtype: int64

Column: Screen_Size_cm
Screen_Size_cm
39.620    2881
35.560     346
40.640     312
39.624     310
43.942     126
33.782      41
40.894      33
34.290      30
33.780      25
36.576      23
Name: count, dtype: int64

Column: Screen_Resolution
Screen_Resolution
Unknown    2897
1080p       744
wuxga       215
wqxga       161
2.8k         63
qhd          53
retina       33
qhd+         27
3k           26
720p         25
Name: count, dtype: int64

Column: 9
9
NaN            3311
250 cd/m²       325
400 cd/m²       237
300 cd/m²       183
500 cd/m²       113
1.000 cd/m²      36
350 cd/m²        27
600 cd/m²        23
450 cd/m²         8
320 cd/m²         8
Name: count, dtype: int64

Column: 10
10
NaN                      168
Intel Core i7-11700F     120
AMD Ryzen 5 4500         119
Intel Core i5-10400      110
Intel Core i9-13900KF    102
Intel Core i7-13700F     101
Intel Core i5-1235U       89
Intel Core i5-1335U       84
AMD Ryzen 3 3200G         78
Intel Core i9-11900F      75
Name: count, dtype: int64

Column: 11
11
disco duro SSD         1308
SSD                    1075
disco duro M.2 SSD     1008
NaN                     635
PCIe SSD                161
memoria flash            72
disco duro HDD           25
sin disco duro            8
SATA                      1
disco híbrido (HHD)       1
Name: count, dtype: int64

Column: 12
12
NaN                 2960
HDMI                 733
HDMI 2.1             192
DisplayPort          133
Thunderbolt 4        129
HDMI 2.0              73
VGA                   17
Mini-DisplayPort      14
HDMI 1.4              14
Thunderbolt 3          9
Name: count, dtype: int64

Column: 13
13
NaN                    4208
8K (8192 x 4608)         43
6K (6016 x 3384)         28
4K (4096 x 2304)         13
WQXGA (2560 x 1600)       1
UHD (3840 x 2160)         1
Name: count, dtype: int64

Column: 14
14
NaN          3468
integrado     592
ninguno        90
4 en 1         72
3 en 1         63
2 en 1          8
5 en 1          1
Name: count, dtype: int64

Column: 15
15
wifi                         1013
wifi, Bluetooth               901
Ethernet                      530
LAN, wifi, Bluetooth          379
Ethernet, wifi, Bluetooth     322
NaN                           261
wifi, Bluetooth, LAN          222
Bluetooth, wifi               183
wifi, Bluetooth, Ethernet     119
Ethernet, wifi                 93
Name: count, dtype: int64

Column: 16
16
NaN              2138
Bluetooth 5.2     587
Bluetooth 5.3     474
Bluetooth 5.0     447
Bluetooth 5.1     365
Bluetooth 4.2     135
Bluetooth 5.4      90
Bluetooth 4.0      35
Bluetooth 4.1      23
Name: count, dtype: int64

Column: 17
17
NaN                   2681
integrada             1328
5.0 Mpx                131
0.9 Mpx                 50
2.0 Mpx                 29
1.0 Mpx                 19
0.3 Mpx                 15
0.8 Mpx                  9
12.0 Megapixel           8
2.0 Mpx, integrada       5
Name: count, dtype: int64

Column: 18
18
NaN                  3251
compatible con HD    1036
30 fps                  7
Name: count, dtype: int64

Column: 19
19
NaN                    3143
1280 x 720 píxeles      637
1920 x 1080 píxeles     498
2592 x 1944 píxeles       6
720 x 480 píxeles         5
2560 x 1440 píxeles       4
640 x 480 píxeles         1
Name: count, dtype: int64

Column: 20
20
NaN                    4174
teclado tipo chicle      82
teclado gamer            27
teclado FineTip          10
teclado AccuType          1
Name: count, dtype: int64

Column: 22
22
NaN                                                                       4138
teclado numérico                                                            90
teclas Windows                                                              24
teclas de función, teclas de dirección                                      23
teclas de función, teclas Windows, teclas multimedia, teclado numérico       4
teclas de función                                                            4
teclas de dirección, teclado numérico                                        3
teclas de dirección                                                          2
teclas Windows, teclado numérico                                             2
teclas de función, teclas Windows                                            2
Name: count, dtype: int64

Column: 23
23
NaN    3083
2.0    1015
4.0     149
6.0      45
8.0       2
Name: count, dtype: int64

Column: 24
24
NaN                  3193
ión-litio             621
polímero de litio     480
Name: count, dtype: int64

Column: 25
25
NaN      3627
10 h       70
8 h        43
15 h       42
18 h       42
12 h       40
7,5 h      35
9 h        29
5,5 h      29
6 h        23
Name: count, dtype: int64

Column: 26
26
NaN      2776
90 Wh     125
41 Wh     111
42 Wh      85
83 Wh      67
56 Wh      66
57 Wh      66
70 Wh      56
80 Wh      50
54 Wh      47
Name: count, dtype: int64

Column: 27
27
NaN      3067
65 W      430
45 W      223
240 W      69
200 W      61
330 W      58
230 W      54
280 W      46
100 W      43
150 W      38
Name: count, dtype: int64

Column: 29
29
NaN              4070
aluminio          210
plástico            8
magnesio            4
policarbonato       2
Name: count, dtype: int64

Column: 30
30
NaN            2670
con tapa       1527
convertible      97
Name: count, dtype: int64

Column: 31
31
NaN        1446
25,9 cm      88
23,6 cm      87
24,2 cm      87
30,8 cm      85
43 cm        76
17,5 cm      68
25,1 cm      55
22,3 cm      54
23,4 cm      53
Name: count, dtype: int64

Column: 32
32
NaN      2640
20 mm     353
18 mm     224
19 mm     185
17 mm     136
16 mm     125
15 mm      92
23 mm      88
25 mm      66
24 mm      63
Name: count, dtype: int64

Column: 33
33
NaN        1445
35,9 cm     267
36 cm        93
15,5 cm      92
35,6 cm      86
35,8 cm      83
17,7 cm      66
35,7 cm      66
21 cm        63
36,3 cm      62
Name: count, dtype: int64

Column: 34
34
NaN        2189
1,7 kg      104
1,6 kg       71
1,3 kg       69
1,4 kg       66
1,5 kg       65
1,9 kg       50
2,3 kg       48
1,74 kg      48
2,1 kg       41
Name: count, dtype: int64

Column: 35
35
disco duro SSD                                          1733
NaN                                                      608
webcam, altavoces estéreo, USB-C                         298
USB-C, altavoces estéreo, webcam                         234
lector de tarjetas, webcam, altavoces estéreo, USB-C     207
USB-C, altavoces estéreo, webcam, lector de tarjetas     173
USB-C, altavoces estéreo, lector de tarjetas, webcam     155
lector de tarjetas, webcam, USB-C                        105
refrigeración líquida, disco duro SSD                    102
lector de tarjetas, disco duro SSD                        68
Name: count, dtype: int64

Column: 36
36
NaN                                                                                   4114
lector de huellas digitales                                                             53
bloqueo Kensington                                                                      31
Trusted Platform Module (TPM 1.2)                                                       17
tapa webcam                                                                             10
lector de huellas digitales, Trusted Platform Module (TPM 2.0), tapa webcam              6
Trusted Platform Module (TPM 2.0)                                                        5
Trusted Platform Module (TPM 2.0), bloqueo Kensington, lector de huellas digitales       5
contraseña de usuario, contraseña BIOS                                                   4
bloqueo Kensington, contraseña BIOS, lector de huellas digitales                         4
Name: count, dtype: int64

Column: 38
38
NaN       2722
2023.0     593
2024.0     361
2022.0     310
2021.0     125
2020.0      97
2019.0      66
2018.0      10
2025.0       3
2017.0       3
Name: count, dtype: int64

Column: 39
39
NaN              2624
IEEE 802.11ax    1317
IEEE 802.11ac     210
IEEE 802.11be      89
Wi-Fi 6E           48
IEEE 802.11a        4
IEEE 802.11n        2
Name: count, dtype: int64

Column: 40
40
NaN                      2701
1.920 x 1.080 píxeles     782
1.920 x 1.200 píxeles     235
2.560 x 1.600 píxeles     212
2.880 x 1.800 píxeles      80
2.560 x 1.440 píxeles      53
3.840 x 2.400 píxeles      30
1.600 x 900 píxeles        26
2.400 x 1.600 píxeles      22
1.366 x 768 píxeles        21
Name: count, dtype: int64

Column: 42
42
NaN       3833
60 Hz      123
120 Hz      94
144 Hz      90
240 Hz      85
165 Hz      50
90 Hz       13
300 Hz       4
360 Hz       2
Name: count, dtype: int64

Column: 43
43
Intel       2936
AMD          960
NaN          340
Apple         42
Qualcomm      16
Name: count, dtype: int64

Column: 44
44
Core i7          590
Core i5          575
Intel Core i7    456
NaN              381
Intel Core i5    369
Core i9          297
Ryzen 5          254
Ryzen 7          243
Intel Core i9    135
AMD Ryzen 5      100
Name: count, dtype: int64

Column: 45
45
1.0    2699
NaN    1455
2.0      89
0.0      50
3.0       1
Name: count, dtype: int64

Column: 46
46
NaN         2845
Intel        731
NVIDIA       519
AMD          158
Apple         31
Qualcomm       9
ARM            1
Name: count, dtype: int64

Column: 47
47
memoria compartida    1705
NaN                    681
8192 MB                591
12288 MB               358
8.192 MB / 8 GB        228
16384 MB               161
4096 MB                 76
6.144 MB / 6 GB         73
4.096 MB / 4 GB         58
12.288 MB / 12 GB       53
Name: count, dtype: int64

Column: 48
48
NaN                                  1229
Microsoft Windows 11 Professional     677
Windows 11 Home                       616
Windows 11 Professional               495
Microsoft Windows 11 Home             282
ninguno                               208
Microsoft Windows 10 Professional     154
sin sistema operativo                 130
Windows 10 Professional               118
Free DOS                              113
Name: count, dtype: int64

Column: 49
49
NaN        3731
MicroSD     375
SD          168
SDXC         19
MiniSD        1
Name: count, dtype: int64

Column: 50
50
NaN                           3423
altavoces estéreo              713
Dolby Atmos                     42
SonicMaster                     36
Harman Kardon                   35
Dolby Audio Premium             30
Dynaudio                         7
Bang & Olufsen                   3
THX Spatial Audio                3
Smart Amplifier Technology       1
Name: count, dtype: int64

Column: 51
51
NaN      2661
16:9      938
16:10     605
3:2        89
4:3         1
Name: count, dtype: int64

Column: 52
52
NaN                    912
Raptor Lake            550
Alder Lake             328
Alder Lake-P           310
Rocket Lake-S          215
Raptor Lake-H          148
Raptor Lake Refresh    147
Raptor Lake-U          147
Meteor Lake            142
Vermeer                137
Name: count, dtype: int64

Column: 53
53
NaN    2796
L3     1487
L2       11
Name: count, dtype: int64

Column: 54
54
12 MB    675
NaN      538
16 MB    466
24 MB    460
8 MB     287
30 MB    280
36 MB    247
18 MB    228
4 MB     201
32 MB    193
Name: count, dtype: int64

Column: 55
55
16 GB        1036
32 GB         947
16 GB RAM     750
32 GB RAM     372
8 GB RAM      363
8 GB          333
NaN           228
64 GB         102
4 GB RAM       44
4 GB           38
Name: count, dtype: int64

Column: 56
56
DDR4       2040
NaN        1105
DDR5        781
LPDDR5      163
LPDDR5X      91
LPDDR4X      71
LPDDR4       14
DDR3         14
DDR3L         7
LPDDR3        4
Name: count, dtype: int64

Column: 57
57
NaN          2990
3.200 MHz     525
4.800 MHz     271
5.600 MHz     150
2.666 MHz      70
5.200 MHz      61
6.400 MHz      33
2.400 MHz      28
4.266 MHz      28
2.133 MHz      24
Name: count, dtype: int64

Column: 58
58
1.000 GB    1782
512 GB      1101
256 GB       429
2.000 GB     391
NaN          289
480 GB        80
500 GB        71
128 GB        43
64 GB         28
32 GB         24
Name: count, dtype: int64

Column: 59
59
NaN                          3872
teclado iluminado             402
resistente a salpicaduras      20
Name: count, dtype: int64

Column: 60
60
NaN                3920
2 x 2 W             258
2 x 1,5 W            54
4 x 2 W              20
2 x 4 W              11
2 x 1 W              10
2 x 2,5 W             8
2 x 5 + 2 x 2 W       7
2 x 5 W               2
2 x 2 + 4 x 2 W       2
Name: count, dtype: int64

Column: 61
61
NaN    3121
3.0     526
4.0     408
6.0     125
2.0     107
8.0       7
Name: count, dtype: int64

Column: 62
62
NaN         2794
negro        616
gris         436
plateado     332
azul          78
blanco        26
dorado         6
verde          3
bronce         1
rosa           1
Name: count, dtype: int64

Column: 64
64
6 núcleos     584
8 núcleos     507
NaN           422
10.0          378
4 núcleos     269
16 núcleos    241
8.0           229
4.0           197
12 núcleos    195
14.0          182
Name: count, dtype: int64

Column: 65
65
NaN          846
2.500 MHz    418
3.600 MHz    265
2.100 MHz    229
0,9 GHz      209
1,8 GHz      166
3.000 MHz    149
1,2 GHz      146
2.900 MHz    132
3.400 MHz    130
Name: count, dtype: int64

Column: 66
66
NaN        505
5 GHz      402
4,4 GHz    382
4,6 GHz    339
4,9 GHz    247
5,2 GHz    237
4,7 GHz    228
4,8 GHz    227
4,3 GHz    192
5,4 GHz    174
Name: count, dtype: int64

Column: 67
67
NaN     2813
15 W     584
45 W     353
28 W     197
55 W     174
25 W      34
6 W       34
35 W      33
34 W      24
9 W       15
Name: count, dtype: int64

Column: 68
68
NaN       2870
GDDR6     1169
GDDR6X     199
GDDR5       53
GDDR3        1
DDR3         1
GDDR5X       1
Name: count, dtype: int64

Column: 69
69
NaN       2544
64 Bit    1214
64-Bit     535
32 Bit       1
Name: count, dtype: int64

Column: 71
71
NaN       3432
64 GB      387
32 GB      145
128 GB     132
16 GB       97
96 GB       27
12 GB       20
8 GB        17
40 GB       11
48 GB        9
Name: count, dtype: int64

Column: 72
72
Intel Iris Xe Graphics        482
NaN                           342
Intel UHD Graphics            341
NVIDIA GeForce RTX 4060       332
NVIDIA GeForce RTX 4070       268
Intel UHD Graphics 770        189
AMD Radeon Graphics           187
NVIDIA GeForce RTX 4060 Ti    169
NVIDIA GeForce RTX 3060       155
NVIDIA GeForce RTX 3050       111
Name: count, dtype: int64

Column: 73
73
NaN                    3824
ninguna                 427
LTE, 4G                  32
LTE, 4G, 5G               3
LTE, 4G, GPS              2
LTE                       1
5G                        1
compatible con WWAN       1
LTE, 4G, GPS, 5G          1
4G, LTE                   1
Name: count, dtype: int64

Column: 74
74
NaN               2520
ninguno           1597
grabadora DVD      171
lector DVD           5
lector Blu-ray       1
Name: count, dtype: int64

Column: 75
75
NaN                           4076
20 V                           120
19 V                            64
19,5 V                          13
7,6 V                            7
15,4 V                           4
220 V                            3
7,4 V                            2
15 V                             2
5 V, 9 V, 12 V, 15 V, 20 V       2
Name: count, dtype: int64

Column: 76
76
NaN       4118
3,25 A      48
3,42 A      33
12 A        21
4,5 A       13
2,37 A      13
10 A        10
16,5 A       6
9,23 A       6
4,74 A       5
Name: count, dtype: int64

Column: 77
77
NaN                                     3971
teclado numérico                         306
Touchpad iluminado                        16
Touchpad iluminado, teclado numérico       1
Name: count, dtype: int64

Column: 78
78
NaN                     3929
panorámica               218
IPS                       62
táctil                    42
OLED                      24
retroiluminación LED       7
antirreflectante           5
mate                       2
AMOLED                     2
Mini-LED                   1
Name: count, dtype: int64

Column: 79
79
NaN                                2613
Ethernet 10/100/1000                958
Gigabit-LAN                         502
LAN 10/100/1000/2500                127
2,5-Gbit/s-Ethernet                  85
LAN 10/100/1000/2500/5000/10000       6
100-Mbit/s-LAN                        3
Name: count, dtype: int64

Column: 84
84
NaN           3932
2x SO-DIMM     217
1x SO-DIMM      83
0x SO-DIMM      59
4x SO-DIMM       3
Name: count, dtype: int64

Column: 85
85
NaN           4020
2x SO-DIMM     171
1x SO-DIMM      76
0x SO-DIMM      26
4x SO-DIMM       1
Name: count, dtype: int64

Column: 86
86
NaN                 3923
2 x 8 GB             110
2 x 16 GB            106
1 x 8 GB              66
1 x 16 GB             33
2 x 4 GB              20
1 x 4 GB              14
2 x 32 GB             10
1 x 8 + 1 x 8 GB       3
1 x 32 GB              3
Name: count, dtype: int64

Column: 107
107
Desktop    2613
Laptop     1681
Name: count, dtype: int64

Column: 109
109
NaN                                    2854
torre                                   315
semitorre                               259
desktop                                 239
mini ITX                                224
factor de forma pequeño (SFF)           170
factor de forma ultrapequeño (USFF)      95
minitorre                                87
barebone                                 26
microtorre                               17
Name: count, dtype: int64

Column: 110
110
NaN         3260
negro        958
plateado      30
gris          29
blanco        15
azul           2
Name: count, dtype: int64

Column: 111
111
NaN        3101
33,7 cm      90
3,4 cm       74
44,5 cm      49
42,1 cm      42
29 cm        39
3,7 cm       36
35,6 cm      34
37,6 cm      29
45,6 cm      27
Name: count, dtype: int64

Column: 113
113
NaN                                    2820
corriente alterna 120/230 V             522
650 W                                   127
750 W                                    75
850 W                                    55
550 W                                    49
180 W / corriente alterna 120/230 V      46
600 W                                    45

In [59]:
# Ensure all column names are strings
df.columns = df.columns.map(str)

# Rename column 58 to Disk_Size_GB
if '58' in df.columns:
    df.rename(columns={'58': 'Disk_Size_GB'}, inplace=True)
    print("Column '58' found and renamed to 'Disk_Size_GB'.")
else:
    print("Column '58' not found in DataFrame columns.")

# Add a check to see if the column exists after renaming
if 'Disk_Size_GB' not in df.columns:
    print("Error: 'Disk_Size_GB' column not found after renaming. Check column index or previous steps.")
else:
    # Directly access the column (Series) from the DataFrame
    disk_col_series = df['Disk_Size_GB']

    # Add a check to see the type and shape of disk_col_series
    print(f"Type of disk_col_series: {type(disk_col_series)}")
    print(f"Shape of disk_col_series: {disk_col_series.shape}")

    # Convert to string and clean values
    if isinstance(disk_col_series, pd.Series):
        disk_col_cleaned = disk_col_series.astype(str).str.replace('GB', '', regex=False)
        disk_col_cleaned = disk_col_cleaned.str.replace(',', '.', regex=False).str.strip()

        # Assign cleaned version back to the DataFrame
        df['Disk_Size_GB'] = pd.to_numeric(disk_col_cleaned, errors='coerce')

        # Fill missing values with median
        median_disk_size = df['Disk_Size_GB'].median()
        df['Disk_Size_GB'] = df['Disk_Size_GB'].fillna(median_disk_size)

        # Confirm cleanup worked
        print("\nCleanup successful:")
        print(df['Disk_Size_GB'].describe())
    else:
        print("Error: disk_col_series is not a pandas Series. Cannot apply string operations.")

Column '58' found and renamed to 'Disk_Size_GB'.
Type of disk_col_series: <class 'pandas.core.frame.DataFrame'>
Shape of disk_col_series: (4294, 2)
Error: disk_col_series is not a pandas Series. Cannot apply string operations.

In [60]:
# Make sure all column names are strings
df.columns = df.columns.map(str)

# Check if any column name literally contains "58" or something like "('58', 'Extra')" by printing all
print([col for col in df.columns if '58' in col])

[]

In [61]:
for col in df.columns:
    print(col)

Product_Title
Price (€)
Offers (#)
Product_Type
Model_Series
Screen_Size_inches
Screen_Size_cm
Screen_Resolution
9
10
11
12
13
14
15
16
17
18
19
20
22
23
24
25
26
27
29
30
31
32
33
34
35
36
38
39
40
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
Disk_Size_GB
59
60
61
62
64
65
66
67
68
69
71
72
73
74
75
76
77
78
79
84
85
86
107
109
110
111
113
114
115
Disk_Size_GB
USB_Version
118
119
120
Resolution_Category

In [62]:
# See both columns — this will raise no error even with duplicates
disk_cols = df.loc[:, df.columns == 'Disk_Size_GB']
print(disk_cols.head())
print("Shape:", disk_cols.shape)

   Disk_Size_GB  Disk_Size_GB
0        256 GB           NaN
1      1.000 GB           NaN
2      1.000 GB           NaN
3           NaN           NaN
4        256 GB           NaN
Shape: (4294, 2)

In [63]:
# Keep only the first 'Disk_Size_GB' column
df = df.loc[:, ~df.columns.duplicated()]

In [64]:
# Clean 'Disk_Size_GB' strings and convert to float
df['Disk_Size_GB'] = df['Disk_Size_GB'].astype(str).str.replace('GB', '', regex=False)
df['Disk_Size_GB'] = df['Disk_Size_GB'].str.replace(',', '.', regex=False).str.strip()
df['Disk_Size_GB'] = pd.to_numeric(df['Disk_Size_GB'], errors='coerce')
df['Disk_Size_GB'] = df['Disk_Size_GB'].fillna(df['Disk_Size_GB'].median())

<ipython-input-64-5aafbc6e0eb5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Disk_Size_GB'] = df['Disk_Size_GB'].astype(str).str.replace('GB', '', regex=False)
<ipython-input-64-5aafbc6e0eb5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Disk_Size_GB'] = df['Disk_Size_GB'].str.replace(',', '.', regex=False).str.strip()
<ipython-input-64-5aafbc6e0eb5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Disk_Size_GB'] = pd.to_numeric(df['Disk_Size_GB'], errors='coerce')
<ipython-input-64-5aafbc6e0eb5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Disk_Size_GB'] = df['Disk_Size_GB'].fillna(df['Disk_Size_GB'].median())

In [65]:
# Reassign df to a full copy to avoid chained assignment warnings
df = df.copy()

# Clean Disk_Size_GB column safely
df['Disk_Size_GB'] = df['Disk_Size_GB'].astype(str).str.replace('GB', '', regex=False)
df['Disk_Size_GB'] = df['Disk_Size_GB'].str.replace(',', '.', regex=False).str.strip()
df['Disk_Size_GB'] = pd.to_numeric(df['Disk_Size_GB'], errors='coerce')
df['Disk_Size_GB'] = df['Disk_Size_GB'].fillna(df['Disk_Size_GB'].median())

In [66]:
print(df['Disk_Size_GB'].describe())

count    4294.000000
mean      179.434584
std       227.638311
min         1.000000
25%         1.000000
50%         2.000000
75%       512.000000
max       960.000000
Name: Disk_Size_GB, dtype: float64

In [67]:
# Rename the column
df.rename(columns={'55': 'RAM_Size_GB'}, inplace=True)

# Extract just the numeric part
df['RAM_Size_GB'] = df['RAM_Size_GB'].astype(str).str.extract(r'(\d+)', expand=False)

# Convert to numeric
df['RAM_Size_GB'] = pd.to_numeric(df['RAM_Size_GB'], errors='coerce')

# Fill missing values with median
df['RAM_Size_GB'] = df['RAM_Size_GB'].fillna(df['RAM_Size_GB'].median())

# Confirm cleanup worked
print(df['RAM_Size_GB'].describe())

count    4294.000000
mean       21.149977
std        13.366115
min         0.000000
25%        16.000000
50%        16.000000
75%        32.000000
max       256.000000
Name: RAM_Size_GB, dtype: float64

In [68]:
dupes = df.columns[df.columns.duplicated()].tolist()
print("Duplicate column names:", dupes)

Duplicate column names: []

In [69]:
missing = df.isnull().sum()
missing = missing[missing > 0]
print("Columns with missing values:")
print(missing)

Columns with missing values:
9      3311
10      168
11      635
12     2960
13     4208
       ...
114    2256
115    2306
118    2232
119    4085
120    3809
Length: 75, dtype: int64

In [70]:
# Columns with over 80% NaNs
to_drop = df.columns[df.isnull().mean() > 0.8]
print("Columns to consider dropping:\n", to_drop)

Columns to consider dropping:
 Index(['13', '14', '20', '22', '25', '29', '36', '42', '49', '59', '60', '73',
       '75', '76', '77', '78', '84', '85', '86', '119', '120'],
      dtype='object')

In [71]:
df.drop(columns=['13', '14', '20', '22', '25', '29', '36', '42', '49', '59', '60',
                 '73', '75', '76', '77', '78', '84', '85', '86', '119', '120'], inplace=True)

In [72]:
# Show remaining columns with missing data
missing = df.isnull().sum()
missing = missing[missing > 0]
print("Still has missing values:\n", missing)

Still has missing values:
 9      3311
10      168
11      635
12     2960
15      261
16     2138
17     2681
18     3251
19     3143
23     3083
24     3193
26     2776
27     3067
30     2670
31     1446
32     2640
33     1445
34     2189
35      608
38     2722
39     2624
40     2701
43      340
44      381
45     1455
46     2845
47      681
48     1229
50     3423
51     2661
52      912
53     2796
54      538
56     1105
57     2990
61     3121
62     2794
64      422
65      846
66      505
67     2813
68     2870
69     2544
71     3432
72      342
74     2520
79     2613
109    2854
110    3260
111    3101
113    2820
114    2256
115    2306
118    2232
dtype: int64

In [73]:
# Fill missing numeric columns with median
numeric_cols = df.select_dtypes(include=['number']).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

In [74]:
# Fill missing object-type columns with 'Unknown'
categorical_cols = df.select_dtypes(include=['object']).columns
df[categorical_cols] = df[categorical_cols].fillna('Unknown')

In [75]:
# Confirm all NaNs are gone
print("Any missing values left?", df.isnull().sum().sum() > 0)

Any missing values left? False

In [76]:
df.to_csv('cleaned_computers_dataset.csv', index=False)